* {
  margin: 0 auto;
  padding: 0;
}

/*
  COLOUR
  bg color = #ebeff1 / rgb(235, 239, 241) - grey
  primary color = #2856b6 - blue
*/

html {
  font-size: 100% !important;
  text-rendering: optimizeLegibility;
}

body {
  background: #ebeff1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

button, input[type=text], select {
  outline: none;
  border: none;
  -webkit-appearance: none;
}

.header {
  width: 100%;
  background-color: #2556b6;
}

div.logo {
  height: 50px;
  background-color: #1c4aa3;
  text-align: center;
  color: #fff;
  line-height: 50px;
}

div.search-area {
  height: 50px;
  padding-top: 5px;
}

.search-holder {
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.icon-font {
  color: #fff;
  font-size: 1.2em;
}

.search-box > input[type=text] {
  width: 60%;
  height: 40px;
  outline: none;
  border: none;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 5%;
  float: left;
}

.search-box > input[type=text]:focus {
  background-color: rgba(255, 255, 255, 1);
  color: #000;
}

.drop-down {
  width:20%;
  background: #fff;
  float: left;
  padding-top: 5px;
  height: 40px;
}

.drop-down > select {
  height: 30px;
  width: 100%;
  border-radius: 0;
  padding-left: 10px;
  background-color: #fff;
  transition: ease-in 0.3s all;
  border-left: 1px solid #c6c6c6;
}

.search-holder .button {
  width: 20%;
  float: left;
}

.search-holder .button > button {
  width: 100%;
  height: 40px;
  background-color: #194297;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
}

.search-holder .button > button:hover {
  background-color: #10388a;
}

.slogan {
  height: 30px;
  background: #fff;
  text-align: center;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
  line-height: 30px;
  box-sizing: border-box;
  font-size: .9em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.msg-box {
  position: absolute;
  z-index: 999;
  left: 0; right: 0;
  width: 50% !important;
  top: 90px;
}

/*------------------------------------------------------*/
/* main body */
/*------------------------------------------------------*/

.content-shell {
  padding-top: 10px;
}

.left-pane {
  width: 95%;
  display: none;
}

.left-pane .title {
  font-size: 1.2rem;
  font-weight: bold;
}

.left-pane .about span {
  display: block;
  font-size: .8rem;
  color: #313131;
  line-height: 20px;
  padding: 15px 0;
  border-bottom: 1px solid #e1e1e1;
}

.left-pane .how-to {
  padding: 10px 0;
}

.left-pane p ~ul {
  padding-left: 30px;
}

.right-pane {
  width: 100%;
  min-height: 550px;
  padding-top: 20px;
}

.upload-area {
  height: 50px;
  width: 95%;
  margin-bottom: 30px;
}

.upload-btn {
  height: 50px;
  width: 30%;
  padding-top: 10px;
  float: left;
}

input[type=file] {
  display: none;
  float: left;
}


label.upload > i ~span{
  font-weight: lighter;
}

label.upload:hover {
  cursor: pointer;
}

label.upload > i, label.upload > span {
  color: #313131;
  font-size: 0.9em;
}

label.upload:hover > i, label.upload:hover > span {
  color: #2856b6;
}


.drop-down-div {
  width:40%;
  background: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  float: left;
}

.drop-down-div > select {
  height: 50px;
  width: 100%;
  background-color: #fff;
  padding-left: 10px;
}

.upload-area .button {
  float: left;
  width: 30%;
}

.upload-area .button button {
  height: 50px;
  width: 100%;
  background-color: #194297;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
}

.upload-area .button button:hover {
  cursor: pointer;
  background-color: #10388a;
}

/*------------------------------------------------------*/
/* table */
/*------------------------------------------------------*/

div.table-display {
  max-height: 300px;
  padding: 10px;
  width: 95%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
  overflow-y: scroll;
  font-size: .7rem;
}

.table-display > span {
  display: block;
  font-size: 1.3em;
  color: #757575;
  margin-bottom: 20px;
}

table tbody tr td { width: 30px; height: 30px }

table tbody tr td > span > i { color: #008000;}
table tbody tr td > span > i.fa-close { color: #ff0000;}


@media only screen and (min-width: 768px) {

  div.logo {
    height: 70px;
    background-color: #1c4aa3;
    text-align: center;
    color: #fff;
    line-height: 70px;
  }

  div.search-area {
    height: 70px;
    padding-top: 10px;
  }

  .search-holder {
    height: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
  }

  .icon-font {
    color: #fff;
    font-size: 1.2em;
  }

  .search-box > input[type=text] {
    width: 60%;
    height: 50px;
    outline: none;
    border: none;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 5%;
    float: left;
  }

  .search-box > input[type=text]:focus {
    background-color: rgba(255, 255, 255, 1);
    color: #000;
  }

  .drop-down {
    width:20%;
    background: #fff;
    float: left;
    padding-top: 5px;
    height: 50px;
  }

  .drop-down > select {
    height: 40px;
    width: 100%;
    border-radius: 0;
    padding-left: 10px;
    background-color: #fff;
    transition: ease-in 0.3s all;
    border-left: 1px solid #c6c6c6;
  }

  .search-holder .button {
    width: 20%;
    float: left;
  }

  .search-holder .button > button {
    height: 50px;
    background-color: #194297;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
  }

  .search-holder .button > button:hover {
    background-color: #10388a;
  }

  .slogan {
    height: 50px;
    background: #fff;
    text-align: center;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
    line-height: 50px;
    box-sizing: border-box;
    font-size: .9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .msg-box {
    position: absolute;
    z-index: 999;
    left: 0; right: 0;
    width: 50% !important;
    top: 90px;
  }

  /*------------------------------------------------------*/
  /* main body */
  /*------------------------------------------------------*/

  .content-shell {
    padding-top: 20px;
    /*height: 100%;*/
  }

  .left-pane {
    width: 25%;
    height: 75vh;
    float: left;
    border-right: 1px solid #e1e1e1;
    display: block;
  }

  .left-pane .title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .left-pane .about span {
    display: block;
    font-size: .8rem;
    color: #313131;
    line-height: 20px;
    padding: 15px 0;
    border-bottom: 1px solid #e1e1e1;
  }

  .left-pane .how-to {
    padding: 10px 0;
  }

  .left-pane p ~ul {
    padding-left: 30px;
  }

  .right-pane {
    width: 75%;
    padding: 20px 30px;
    float: left;
  }

  .upload-area {
    height: 50px;
    width: 50%;
    margin-bottom: 30px;
    /*background: red;*/
    float: left;
  }

  .upload-btn {
    height: 50px;
    width: 30%;
    padding-top: 10px;
    float: left;
  }

  input[type=file] {
    display: none;
    float: left;
  }


  label.upload > i ~span{
    font-weight: lighter;
  }

  label.upload:hover {
    cursor: pointer;
  }

  label.upload > i, label.upload > span {
    color: #313131;
    font-size: 0.9em;
  }

  label.upload:hover > i, label.upload:hover > span {
    color: #2856b6;
  }


  .drop-down-div {
    width:40%;
    background: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    float: left;
  }

  .drop-down-div > select {
    height: 50px;
    width: 100%;
    background-color: #fff;
    padding-left: 10px;
  }

  .upload-area .button {
    float: left;
    width: 30%;
  }

  .upload-area .button button {
    height: 50px;
    width: 100%;
    background-color: #194297;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
  }

  .upload-area .button button:hover {
    cursor: pointer;
    background-color: #10388a;
  }

  /*------------------------------------------------------*/
  /* table */
  /*------------------------------------------------------*/

  div.table-display {
    max-height: 400px;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
    overflow-y: scroll;
    font-size: .9rem;
  }

  .table-display > span {
    display: block;
    font-size: 1.3em;
    color: #757575;
    margin-bottom: 20px;
  }

  table tbody tr td { width: 30px; height: 30px }

  table tbody tr td > span > i { color: #008000;}
  table tbody tr td > span > i.fa-close { color: #ff0000;}




}